@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 180.00 17.65% 96.67%;
      --foreground: 187.50 100.00% 1.57%;

      --primary: 187.95 100.00% 16.27%;
      --primary-foreground: 0.00 0.00% 100.00%;

      --card: 180.00 17.65% 96.67%;
      --card-foreground: 187.50 100.00% 1.57%;

      --popover: 0.00 0.00% 100.00%;
      --popover-foreground: 187.50 100.00% 1.57%;

      --secondary: 185.00 18.75% 87.45%;
      --secondary-foreground: 180.00 100.00% 0.59%;

      --muted: 187.50 19.05% 91.76%;
      --muted-foreground: 0.00 0.00% 40.00%;
      
      --accent: 187.50 19.05% 91.76%;
      --accent-foreground: 187.95 100.00% 16.27%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 0.00 0.00% 90.20%;
      --input: 0.00 0.00% 90.20%;
      --ring: 187.95 100.00% 16.27%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

